# Terraform
**/.terraform/
**/.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
terraform.tfvars

# Keys — NEVER commit private keys
*.pem
Infra/keys/

# Python
__pycache__/
*.pyc
.env

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db